@import url(https://fonts.googleapis.com/css?family=Raleway:200);
@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  :root {
    --card-height: ;
    --card-width: calc(var(--card-height) / 1.5);
  }
  *{
    font-family: 'Raleway',sans-serif;
  }
  
  body {
    min-height: 100vh;
    background: #212534;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    
  }
  .card {
    background-image: linear-gradient(to top, #881eb6 0%, #5054af 90%);
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    display: flex;
    color: rgb(255, 255, 255);
    font-family: 'Raleway';
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding : 2rem;
  }
  
  .card:hover {
    color: rgb(255, 255, 255);
    transition: color 1s;
  }
  .card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }
  
  .card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  
  a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 2rem;
  }

  /*in-card*/
  .card .title{
    font-size: 5rem;
    font-weight: 500;
    position: relative;
  }
  .content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .input-box input:focus,
  .input-box input:valid{
    border-color: #9b59b6;
  }
  .input-box.error input{
    border-color: red;
  }
  .input-box input::placeholder{
    font-size: 15px;
    font-weight: 500;
  }
  .input-box.error .characters{
    color: red;
    font-size: xx-large;
    transition: 0.3s ease-in-out;
  }
  .user-details .input-box input, input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
    border-color: #9b59b6;
  }
  form .gender-details .gender-title, .group-title{
    font-size: 20px;
    font-weight: 500;
   }
   form .category , .groupCat{
    display: flex;
    width: 80%;
    margin: 14px 0;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-evenly;
   }
   form .category label, .groupCat label{
     display: flex;
     align-items: center;
     cursor: pointer;
   }
   form .category label .dot, .group {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
   #dot-1:checked ~ .category label .one,
   #dot-2:checked ~ .category label .two,
   #dot-3:checked ~.category label .three,
   #DW101:checked ~ .groupCat label .one,
   #DW102:checked ~ .groupCat label .two,
   #DW103:checked ~ .groupCat label .three,
   #DM101:checked ~.groupCat label .four,
   #DM102:checked ~ .groupCat label .five
{
     background: #9b59b6;
     border-color: #d9d9d9;
   }
   form .gender-details input, .group-details input[type="radio"]{
     display: none;
   }

   form .button{
     height: 45px;
     margin: 35px 0
   }
   form .button input{
     height: 100%;
     width: 100%;
     border-radius: 5px;
     border: none;
     color: #fff;
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     cursor: pointer;
     transition: all 0.3s ease;
     background: linear-gradient(135deg, #71b7e6, #9b59b6);
   }
   form .button input:hover{
    transform: scale(0.99);
    }

  /*multiple select*/
  .container{
    position: relative;
    width: 50%;
    margin-top: 1rem;
}
.select-btn{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin-top: 10px;
}
.select-btn .btn-text{
    font-size: 17px;
    font-weight: 400;
    color: #333;
    transition: all 0.3s ease;
}
.select-btn .arrow-dwn{
    display: flex;
    height: 21px;
    width: 21px;
    color: #fff;
    font-size: 14px;
    border-radius: 50%;
    background: #4072fc;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    transition: all 0.3s ease;
}
.select-btn.open .arrow-dwn{
    transform: rotate(-180deg);
    transition: all 0.3s ease;
}
.list-items{
    position: relative;
    margin-top: 15px;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: none;
    transition: all 0.3s ease;
}
.select-btn.open ~ .list-items{
    display: block;
    transition: all 0.3s ease;
}
.list-items .item{
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
    transition: all 0.3s ease;
}
.list-items .item:hover{
    background-color: #e7edfe;
    transition: all 0.3s ease;
}
.item .item-text{
    font-size: 16px;
    font-weight: 400;
    color: #333;
    transition: all 0.3s ease;
}
.item .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}
.item.checked .checkbox{
    background-color: #4070f4;
    border-color: #4070f4;
    transition: all 0.3s ease;
}
.checkbox .check-icon{
    color: #fff;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}
.item.checked .check-icon{
    transform: scale(1);
    
}
@media(max-width: 480px){
  .card{
   max-width: 100%;
 }
 form .user-details .input-box{
     margin-bottom: 15px;
     width: 100%;
   }
   form .category{
     width: 100%;
   }
   .content form .user-details{
     max-height: 300px;
     overflow-y: scroll;
   }
   .user-details::-webkit-scrollbar{
     width: 5px;
   }
 }